.todo-app {
    max-width: 500px;
    margin: 50px auto; /*centers container*/
    padding: 20px;
    background: whitesmoke;
    border-radius: 12;
    box-shadow: 0 5px 20px rgba(0,0.0.0.2);
}

.add-form {
    display: flex;
    gap: 10px;
}

.task-input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
}

.add-btn {
    padding: 10px 20px;
    cursor: pointer;
}