.todo-app {
    max-width: 500px;
    margin: 50px auto; /*centers container*/
    padding: 20px;
    background: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0, 0.2);
}

.add-form {
    display: flex;
    gap: 10px;
}

.task-input {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
}

.add-btn {
    padding: 10px 20px;
    cursor: pointer;
}

.add-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(102, 126, 234, 0.4);
}

.add-btn:active {
    transform: translateY(0);
}

/* Todo list*/
.todo-list{
    list-style: none;
    margin-bottom: 20px;
}

.todo-item{
    display: flex;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid #e0e0e0;
    transition: background-color 0.2s;
}

.todo-item.completed .task-text{
    text-decoration: line-through;
    color:#999;
}

.toggle-form {
    flex-shrink: 0;
}

.checkbox{
    width: 24px;
    height: 24px;
    border: 2px solid #667eea;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    color: white;
    transition: all .3s;
}

.todo-item.completed .checkbox {
    background: #667eea;
    border-color: #667eea;
}

.task-text{
    flex: 1;
    font-size: 1rem;
    color: #333;
}

.delete-form{
    flex-shrink: 0;
}

.delete-btn{
    width: 30px;
    height: 30px;
    border: none;
    background: #ff4757;
    color: white;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s;
    line-height: 1;
}

/* Clear Completed Button*/
.clear-form {
    text-align: center;
    margin-top: 20px;
}

.clear-btn{
    padding: 10px 25px;
    background: #ff4757;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor:pointer;
    transition: all 0.2s;
}